.new-expense {
    background-color: rgb(176, 119, 230);
    padding: 1rem;
    margin: 2rem auto;
    width: 65vw;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgb(22, 14, 14)
}